.itemDetail-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.itemDetail-img--container {
  width: 50%;
}

.ItemDetail-img {
  width: 100%;
}

.itemDetail-detail {
  width: 50%;
  padding: 6em;
}

.itemDetail-detail > .itemDetail-detail--title,
.itemDetail-detail--price,
.itemDetail-detail--text {
  padding: 1em 0;
}

.itemDetail-detail--title {
  font-size: 30px;
}

.itemDetail-detail--price {
  font-size: 25px;
}
