.nav-links {
  padding: 0 20px;
  text-decoration: none;
  display: flex;
}

.nav-links__text-container {
    padding: 0 10px;
}

.nav-links__text {
  font-weight: 500;
  color: #f0f4ef;
}

.nav-links__icon {
  color: #f0f4ef;
}

.nav-links__text:hover {
  color: #231123;
}
