.cartWidget-container{
    display: flex;
    place-items: center;
}

.cartWidget-quantity{
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #5E1DAD;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.cartWidget-text{
    margin: 0;
    font-size:13px;
    color: #EAEAEA;
}