.cart-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.cart-card_container {
    margin-bottom: 2rem;
    padding: 10px;
    background-color: #F4F4F4;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.cart-resume_container {
    padding: 10px;
    margin-left: 4rem;
    width: 100%;
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

@media screen and  (max-width:425px) {
    .cart-wrapper {
        flex-direction: column;
    }

    .cart-resume_container{
        margin: 0;
    }
}